@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@300;400&display=swap');
/* reset universal */
*{
    font-family: 'raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
}
body{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
    "topbar"
    "nav"
    "header"
    "fotos1"
    "tienda1"
    "fotos2"
    "tienda2"
    "banner"
    "footer" ;
}

#topbar{
    grid-area: topbar;
    height: 9vh;
    background-color: #005248;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    
}
    .divTopBar{
        max-height: 100%;
        width: auto;
        display: flex;
        justify-content: center;
        
    }
        .divTopBar a{
            height: 100%;
            display: flex;
            align-items: center;
        }
        .divTopBar a p{
            display: none;
            text-decoration: none;
        }
        .divTopBar img{
            height: 80%;
        }

#nav {
    grid-area: nav;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    #nav #navLogo {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
        #navLogo a{
            height: 100%;
            width: 100%;
        }
            #navLogo a img{
                height: 100%;
                width: 100%;
            }
           
    #nav #navBotonera {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
    }
        #botones {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            color: #005248;
            
        }
        #botones li {
            height: 100%;
            margin: 0 2px;
        }
        #botones li a p{
            color: #005248;
            text-align: center;
            height: 100%;
            font-size: 1em;
            padding: 0 2px;
        }
        #botones li a p:hover {
            background-color: #005248;
            border-radius: 0.5em;
            color: white;
            text-align: center;
            height: 100%;
            padding: 0 2px;
        }
#header {
    width: 100vw;
    height: min-content;
    grid-area: header;
}   
    #header #sectionBanner {
        height: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
            #sectionBanner div img{
                width: 100vw;
                max-height: 550PX;
            }
            #sectionBanner #principal{
                position: relative;
                width: 100%;
            }
            #sectionBanner #encabezado{
                position: absolute;
                
        }
        #encabezado a h1 p{
            text-decoration: none;
            font-size: 1em;
            width: max-content;
            margin: auto;
            padding: 15px;
            text-align: center;
            color: rgba(255, 255, 255, 0.850);
            background-color: rgba(00, 52, 48, 0.70);
            border-radius: 4em;
        }
        #encabezado a h1 p:hover{
            background-color: #005248;
            color: white;
            width: 100%;
            border-radius: 4em;
            width: max-content;
            margin: auto;
            padding: 15px;
            text-decoration: none;
        }
#links {
    grid-area: fotos1;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #links .indicador {
        border: black double 6px;
        width: 90vw;
        margin: 5px 0;
        background-color: #e0fffb;
    }

    .iconoLinks {
        max-width: 50px;
    }
.tituloYFoto {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
    .cajaTituloLinks {
        width: 50%;
        text-align: center;
        padding-top: 10px;
    }
    .cajaIconoLinks {
        text-align: center;
        width: 50%;
        margin-right: 20px;
    }
    .divlink {
        text-align: center;
        text-decoration: none;
        color:#005248;
        padding: 0 6px;
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;

    }
    .divText {
        font-size: .8em;
        width: auto;
        margin: auto;
        padding: 4px;
        text-align: center;
    }
        h3{
            font-size: 1em;
            text-decoration: none;
            margin: 15px 0;
            width: auto;
            text-align: center;
            color: black;
            border: black solid 2px;
            border-radius: .7em;
            padding: 0 6px;
        }
        h3:hover{
            color: #ffffff;
            background-color: #005248;
}
        h4{
            margin: 10px 15px;
        }
#irALaTienda1 {
    grid-area: tienda1;
    font-size: 2em;
    width: 100%;
    padding: 4px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
    #irALaTienda1 a{
        color: #ffffff;
        border-radius: 1em;
        background-color: #005248;
        padding: 2px 20px;
    }
    #irALaTienda1 a:hover{
        transform: scale(1.05);
    }

#links2 {
    width: 100vw;
    grid-area: fotos2;
}
    #links2 #cajacompleta {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
        #links2 #cajacompleta #foto1-in {
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
            #foto1-in #cajaImg1 {
                position: relative;
                text-align: center;
                width: 100%;
                padding: 0 10px;
            }
                #cajaImg1 img{
                    width: 100%;
                    border: double black 2px;
                }
            #foto1-in #CajaTransp1 {
                position: absolute;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
            }
            #hola {
                width: min-content;
                text-align: center;
                font-size: 1.1em;
                
            }
            .transparencia {
                background-color:rgba(255, 255, 255, 0.70);
                color:#005248;
                border-radius: 0.5em;
            }
        #links2 h3{
            display: none;
}
#irALaTienda2 {
    grid-area: tienda2;
    font-size: 2em;
    width: 100%;
    padding: 4px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
    #irALaTienda2 a{
        color: #ffffff;
        border-radius: 1em;
        background-color: #005248;
        padding: 2px 20px;
    }
    #irALaTienda2 a:hover{
        transform: scale(1.05);
    }

#bannerFinal {
        grid-area: banner;
        display: flex;
        position: relative;
        width: 100vw;
        justify-content: center;
        align-items: center;
}
        #divImgBannerFinal {
            position: relative;
        }
            #divImgBannerFinal img{
                width: 100%;
            }
        #divTextBannerFinal {
            position: absolute;
            width: 70%;
            text-align: center;
            background-color: rgba(00, 52, 48, 0.70);
        }
        #divTextBannerFinal:hover{
            position: absolute;
            width: 70%;
            text-align: center;
            background-color: rgba(00, 52, 48, 1);
        }
            #divTextBannerFinal a{
                font-size: 1em;
                color: rgba(255, 255, 255, 0.70);
            }
            #divTextBannerFinal a:hover{
                color: rgba(255, 255, 255, 1);
            }

#footer {
    width: 100vw;
    grid-area: footer;

}
    #footer1{
        width: 100%;
    }
        #footer1div1{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
            #footer1div1 img{
                max-width: 30vw;
                padding: 5px 10px;
            }
            #footer1div1 ul{
                list-style: none;
                text-align: center;
                padding: 0 15px;

            }
        #footer1div2{
            width: 100%;
        }
            #footer1div2 .divform h2{
                text-align: center;
                font-size: 1.5em;
                padding-top: 10px;
                text-decoration: underline;
            }
            fieldset{
                display: none;
            }
#nav2{
    border: solid black 2px;
    padding: 10px 0;
}
    #nav2 img{
        display: none;
}
    #nav2 #botones2{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;        
    }
    #botones2 p{
        color: #005248;
        padding: 0 5px;
    }
    #botones2 p:hover{
        background-color: #005248;
        border-radius: 1em;
        color: #ffffff;
        padding: 0 5px;
    }
#copyright {
    width: 100%;
    height: 15px;
    font-size: .5em;
    text-align: center;


}

      
@media only screen and (min-width:768px){
  
#topbar {
    height: 8vh;
}  
#nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 15vh;
    }

    #nav #navBotonera {
        padding: 0 15px;
    }

#encabezado a h1 p{
    font-size: 2em;
}
#links {
    width: 100vw;
    height: 100%;
    flex-direction: row;
}
    #links .indicador {
        height: 90%;
        margin: 0 10px;
}
#hola {
    font-size: 1.5em;
    padding: 15px;
    
}
#irALaTienda1 p{
    font-size: 1.5em;
}
#irALaTienda2 p{
    font-size: 1.5em;
}
#divTextBannerFinal{
    font-size: 1.5em;
}
}


@media only screen and (min-width:1024px){

#topbar {
    height: 5vh;
}
    .divTopBar {
        width: 33vw;
        text-align: center;
        
    }
    .divTopBar a p{
    display: block;
    color: white;
}
.divTopBar a img{
    display: none;
}
#navBotonera {
    margin-right: 15px;
    font-size: 1.5em;
}
#encabezado h1{
    font-size: 1.8em;
}

#links {
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    padding: 25px 0;

}
    #links .indicador {
        max-width: 28%;
        border: black double 6px;
        height: 100%;
        background-color: #e0fffb;
    }
    .iconoLinks {
        max-width: 70px;
    }
#irALaTienda1{
    display: none;
}
#irALaTienda2{
    display: none;
}
#links2 {
    padding: 25px 5px;
}
    #cajaImg1{
        max-width: 25vw;
    }
    #hola h3{
        display: block;
    }
    .transparencia{
        width: max-content;
    }
    
#bannerFinal a{
    font-size: 2em;
}

    #footer #footer1 {
        display: flex;
        flex-direction: row;
    }
        #ulredes {
            font-size: 1.5em;
        }
        #footer1 #footer1div1{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
            #footer1div2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .divform{
                width: 50%;
                text-align: center;
            }            
        #footer1 fieldset{
            display: block;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
#nav2 {
    display: flex;
    flex-direction: row;
}
    #divlogonav2{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    #nav2 img{
    display: block;
    max-width: 50%;
}
    #botonera2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
   }
    #botones2{
        width: 100%;
        font-size: 1.5em;
    }
#copyright{
    font-size: 1em;
}
}


/*finaliza index y comienza views/productos */

#bodyproductos {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    "topbar"
    "nav"
    "header"
    "titulo"
    "clasif"
    "produc"
    "aside"
    "footer" ;
}
#headerProductos {
    grid-area: titulo;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
}
    #headerProductos h2{
        padding: 0 10px;
        background-color: #005248;
        color: #ffffff;
        border-radius: .75em;
    }

#categoriasProductos {
    grid-area: clasif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #categoriasProductos span {
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    #categoriasProductos ul {
        text-decoration: none;
        list-style: none;
        text-align: center;
        font-size: 1.3em;
    }

#listaProductos {
    grid-area: produc;
    width: 100vw;
}
    #listaProductos .secciones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        justify-content: space-evenly;
    }
    .figure {
        border: solid #005248 1px;
        margin: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .figure .divDescripcion {
        width: 100%;
        text-align: center;
        background-color: #005248;
        color: #ffffff;
    }
    .figure img{
        max-width: 150px;
    }
#aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
    #aside img{
        max-width: 19vw;
        height: auto;
    }

@media only screen and (min-width:768px){

#bodyproductos {
        width: 100vw;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(7, auto);
        grid-template-areas: 
        "topbar topbar" 
        "nav nav"
        "header header"
        "aside aside"
        "clasif titulo"
        "produc produc"
        "footer footer" ;
    }
#categoriasProductos {
    width: 50vw;
    padding: 20px;
}
#headerProductos {
    width: 50vw;
    display: flex;
    align-items: center;
}
    #headerProductos h2 {
        height: auto;
    }

    #topbar {
        height: 8vh;
    }  
    #nav {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 15vh;
        }
    
        #nav #navBotonera {
            padding: 0 15px;
        }

}
@media only screen and (min-width:1024px){

#topbar {
    height: 5vh;
}
#bodyproductos {
    width: 100vw;
    grid-template-columns: 15vw 30vw 40vw 15vw;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "topbar topbar topbar topbar" 
    "nav nav nav nav"
    "header header header header"
    "titulo titulo titulo titulo"
    "clasif produc produc aside"
    "footer footer footer footer" ;
}
#headerProductos {
    width: 100vw;
}
#categoriasProductos {
    width: 100%;
}
#listaProductos {
    width: 100%;
}
#aside {
    max-width: 10vw;
    flex-direction: column;
    margin: 15px;
} 
}

/*finaliza produc/como comprar y comienza mayorista/contacto */

#bodymayorista {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat (7, auto);
    grid-template-areas: 
    "topbar"
    "nav"
    "header"
    "titulo"
    "text1"
    "text2"
    "footer"
    ;
}
#headermayorista {
    grid-area: titulo;
}
.headerinfo {
    grid-area: info;
}
#navLogo a img{
    height: 100%;
    width: 100%;
}


.h2Mayorista {
    font-size: 1.2em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid black 2px;
    border-radius: 1.5em;
    background-color: #005248;
    color: #ffffff;
}

#textMayorista1 {
    grid-area: text1;
    font-size: 1em;
    padding: 20px 20px;
    border: solid black 2px;
    margin: 0 20px;
    align-items: center;
    text-align: center;
    border-radius: .5em;
    background-color: rgba(00, 52, 48, 0.30);
    margin: 15px;
}
#textMayorista2 {
    grid-area: text2;
    font-size: 1em;
    padding: 20px 20px;
    border: solid black 2px;
    margin: 0 20px;
    align-content: center;
    text-align: center;
    border-radius: .5em;
    background-color: rgba(00, 52, 48, 0.30);
    margin: 15px;
}
@media only screen and (min-width:1024px){

#bodymayorista {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat (6, auto);
    grid-template-areas: 
    "topbar topbar"
    "nav nav"
    "header header"
    "titulo titulo"
    "text1 text2"
    "footer footer";
}
.h2Mayorista {
    font-size: 2.2em;
    margin: 10px 40px;
}
#textMayorista1, #textMayorista2{
    font-size: 2em;
    margin: 20px 30px;
}
}

#bodycontacto{
    background-color: #005248;
}
