<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Frutella</title>
    <link rel="shortcut icon" href="../img/shortcut.png">
    <link rel="stylesheet" href="../css/fullResponsive.css">
</head>
<body id="bodymayorista">
    <section id="topbar" >
		<div class="divTopBar">
            <a href="https://api.whatsapp.com/send/?phone=5493436233753&text&app_absent=0" target="_blank"><img src="../img/redes/whatsapp.png" alt="logo whatsapp"></a>
			<a id="wsp" href="https://api.whatsapp.com/send/?phone=5493436233753&text&app_absent=0" target="_blank" ><p> Wsp +5493436233753</p></a>
		</div>
		<div class="divTopBar">
			<a href="mailto:frutellaboutique@hotmail.com?subject=Quiero hacer una compra&body=Buenas! Quisiera que se comuniquen conmigo porque me gustaría hacer un pedido. Lo puede hacer a travez de "><img src="../img/redes/email.png" alt="logo email">	</a>	
			<a id="email" href="mailto:frutellaboutique@hotmail.com?subject=Quiero hacer una compra&body=Buenas! Quisiera que se comuniquen conmigo porque me gustaría hacer un pedido. Lo puede hacer a travez de "><p>frutellaboutique@hotmail.com</p></a>
		</div>
		<div class="divTopBar">
			<a href="views/comocomprar.html"><img src="../img/redes/instagram.png" alt="logo instagram"></a>
			<a id="promo" href="views/comocomprar.html"><p> Envio sin cargo dentro de boulevares si tu compra supera los $3.000</p></a>
		</div>
	</section>
    <nav id="nav">
		<div id="navLogo">
			<a href="../index.html"><img id="logoarriba" src="../img/logo.svg" alt="logo frutella"></a>
		</div>
		<div id="navBotonera">
			<ul id="botones">
				<li><a href="../views/productos.html"><p>Productos</p></a> </li>
				<li><a href="../views/comocomprar.html"><p>Cómo comprar</p></a> </li>
				<li><a href="../views/mayorista.html"><p>Mayorista</p></a> </li>
				<li><a href="../views/contacto.html"><p>Contacto</p></a> </li>
			</ul>
		</div>
	</nav>
    <header id="header">	
		<section id="sectionBanner">
            <div id="principal">
				<img src="../img/header.jpg" alt="frutas y verduras" >
			</div>
			<div id="encabezado">
				<a  href="../views/productos.html"><h1><p> LLEVÁ CALIDAD A TU MESA</p></h1></a>
			</div>
		</section>		
	</header>
    <header id="headermayorista">
        <h2 class="h2Mayorista">¿Querés trabajar con nosotros?</h2>
    </header>
	<div id="textMayorista1">
		<p>Contamos con diversas vías de comunicación para tu mejor comodidad. <br> Podes hacerlo por WhatsApp, vía EMail o acercandote a nuestro local comercial ubicado en calle Alsina, esquina Echague.</comodidas></p>
	</div>
	<div id="textMayorista2">
		<p>Si preferis que nosotros nos contactemos con vos, completa el siguiente formulario y lo haremos a la brevedad!</p>  
	</div>
<div id="footer">
        <section id="footer1">
            <div id="footer1div1">
                <div>
                    <a href="../index.html">
                        <img src="../img/icono.png" alt="logo frutella">
                </div>
                <div>
                    <ul id="ulredes">
                        <li><a href="https://api.whatsapp.com/send/?phone=5493436233753&text&app_absent=0" target="_blank" >WhatsApp</a></li>
                        <li><a href="https://www.google.com/search?q=google+maps+alsina+299&source=lmns&rlz=1C1SQJL_esAR940AR940&hl=es&sa=X&ved=2ahUKEwih0rju-fj3AhW4u5UCHdxLBX8Q_AUoAHoECAEQAA" target="_blank" >Alsina esquina echague, Paraná</a> </li>
                        <li><a href="https://www.instagram.com/frutellaboutique/" target="_blank" >Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer1div2">
                <div class="divform">
                    <h2>Formulario de contacto</h2>
                    <form action="info.php" id="infopersonal">
                        <fieldset>
                            <input type="text" id="name" placeholder="Nombre y Apellido"><br>
                            <input type="text" id="instagram" placeholder="Perfil De Instagram"><br>
                            <input type="text" id="telefono" placeholder="Número de Telefono"><br>
                            <input type="email" id="email" placeholder="miemail@hotmail.com"><br>
                            <label for="comunicacion">Quiero que se me contacte vía:</label>
                            <select name="medio" id="">
                                <option value="Llamada">Llamada por telefono</option>
                                <option value="email">Correo Electronico</option>
                                <option value="instagram">Instagram</option>
                            </select>
                        </fieldset>
                </div>
                <div>
                            <label for="mensaje"><h3>¿Cual es su consulta?</h3></label><br> 
                       <fieldset>
                            <textarea name="" id="mensaje" cols="30" rows="10"></textarea> <br>
                            <input type="reset" value="Cancelar">
                            <input type="Submit" value="Enviar Consulta">
                        </fieldset>		
                    </form>
                </div>
            </div>
        </section>
        <section>
            <nav id="nav2">
                <div id="divlogonav2">
                    <a href="../index.html">
                        <img id="logoarriba" src="../img/logo.png" alt="logo frutella">
                    </a>
                </div>
                <div id="botonera2">
                    <ul id="botones2" >
                        <li><a href="../views/productos.html"><p>Productos</p></a> </li>
                        <li><a href="../views/comocomprar.html"><p>Cómo comprar</p></a> </li>
                        <li><a href="../views/mayorista.html"><p>Mayorista</p></a> </li>
                        <li><a href="../views/contacto.html"><p>Contacto</p></a> </li>
                    </ul>
                </div>
            </nav>
        </section>
        <section id="copyright">
            <h5 id="copyright">CopyRight 2022</h5>
        </section>
    </div>
</body>
</html>